.button {
  background-image: url(../../public/images/geolocation.jpg);
  background-color: transparent;
  background-size: 90px 60px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 90px;
  height: 60px;
  padding: 0;
  position: relative;
}
.button::before {
  content: "Find my!";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(63, 19, 104);
  width: fit-content;
}
